<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido, {{ usuario }}</h1>
        <p>FastAPI Starter de arquitectura limpia.</p>
        
        <h3>Tecnologías configuradas:</h3>
        <ul>
            {% for tech in tecnologias %}
                <li>{{ tech }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
